#container {
    text-align: justify;
}

#container>div {
    width: 750px;
    display: inline-block;
    vertical-align: top;
}

/* #container:after {
    content: "";
    width: 100%;
    display: inline-block;
} */

.accordion {
    text-align: left;
    transition: 0.4s;
  }
  
.panel {
    display: none;
    overflow: hidden;
  }