$myTextAlignment:center;

* {
    font-family: monospace;
}

h2 {
    text-align: $myTextAlignment;
}

.card-img-top {
    width: 150px;
}

.col {
    width: 30%
}

footer {
    text-align: $myTextAlignment;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #f10d0d;
    position: absolute;
    color: white;
}